.msg {
    width: 100%;
    border: 1px solid;
    padding: 10px;
    color: grey;
}

.msg-error {
    border-color: #d32f2f;
    background-color: #ef5350;
    color: white;
}

.msg-alert {
    border-color: #ef6c00;
    background-color: #ff9800;
    color: white;
}

.msg-info {
    border-color: #0288d1;
    background-color: #29b6f6;
    color: white;
}